body {
    font-family: 'Roboto', "Font Awesome 5 Pro", sans-serif;
    font-size: 16px;
    color: #333;
}
.custom-pr-5{
    padding-right: 5px !important;
}
 .custom-pl-5{
    padding-left: 5px !important;
}
.custom-pr-10{
    padding-right: 10px !important;
}
 .custom-pl-10{
    padding-left: 10px !important;
}
.list-post .custom-pr-5:nth-of-type(3n){
    padding-right: 15px;
}

.primary-menu ul .menu-item  a{
	padding: 15px 10px;
    border: 1px solid #ddd;
}
.primary-menu>.menu-item:last-child a{
    border-right: none;
}
.icon-view .fas, .item .fas{
	opacity: 0;
	position: absolute;
	bottom: 10px;
}
.btn_top {
    position: fixed;
    z-index: 99;
    bottom: 40px;
    width: 40px;
    height: 40px;
    right: calc((100% - 1170px - 100px)/2);
    cursor: pointer;
    background: #f88c0e;
    text-align: center;
    padding: 10px;
    border-radius: 50%;
    color: #fff;
}
.btn_top:hover{
	color: #fff;
}

.item-blog:hover .item-blog-img img{ 
    transform: scale(1.5);
-webkit-transform: scale(1.5); 
-moz-transform: scale(1.5); 
-o-transform: scale(1.5);
-ms-transform: scale(1.5);
cursor: pointer; 
}
.box_highlightHome .block-hot .item {
    position: relative;
    margin: 15px 0;
}
.item-blog-img{
    width: 100%;
    height: 100%;
    overflow: hidden; 
}
.item-blog-img img{
    width: 100%;
      height: 100%;
      transition-duration: 0.5s;
      /* Safari */
      -webkit-transition-duration: 0.5s;
      /* Mozilla Firefox */
      -moz-transition-duration: 0.5s;
      /* Opera */
      -o-transition-duration: 0.5s;
      /* IE 9 */
      -ms-transition-duration: 0.5s;
}
.item-blog:hover .item-blog-img{
     background: rgba(108, 47, 95, 0.3);
  opacity: .5;
}
.box_highlightHome .block-hot .item .item-blog-info .item-blog-title a {
    color: #171051;
    font-family: "SVN-NexaBlack";
    text-transform: uppercase;
    font-size: 25px;
}
.item-blog:hover .view {
  opacity: 1; }
  .item-blog:hover .view .fas {
    position: absolute;
    top: 40%;
    left: 46%;
    height: 34px;
    color: #fff;
    padding: 10px;
    background: #2b91ff;
    opacity: 1; }
.box_highlightHome .box_videoHome .box_title {
    position: relative;
    padding: 25px 0 0 0;
    color: #171051;
    font-size: 19px;
    font-family: "SVN-NexaBlack";
}
.box_highlightHome .box_videoHome .box_title a {
    color: #171051;
    text-transform: uppercase;
}
.box_highlightHome .box_videoHome .box_title:before {
    position: absolute;
    content: "";
    width: 100px;
    height: 3px;
    background: #00b6f2;
    top: 0;
    left: 0;
    margin: 0;
}

.box_newsHome .content {
    padding: 50px 0;
    border-top: 2px solid #ccc;
    border-bottom: 2px solid #ccc;
}
.box_newsHome .box_defaultNew .box_title {
    font-size: 28px;
    text-transform: uppercase;
    position: relative;
    padding-top: 25px;
    font-family: "SVN-NexaBlack";
    margin: 0px 0px 10px;
}
.box_newsHome .box_defaultNew .box_title:before {
    position: absolute;
    content: "";
    background: #00b6f2;
    width: 100px;
    height: 3px;
    left: 0;
    top: 0;
}
.box_newsHome .box_defaultNew .box_title a {
    display: block;
    width: 100%;
    color: #171051;
}
.box_content .item .image img {
    width: 100%;
}
 .box_content .info .title{
	margin: 5px 0px 5px;
    line-height: 20px;
       font-size: 17px;
    font-family: "SVN-NexaHeavy";
}
 .box_content .info .title a {
    color: #171051;
}
.item:hover .image img{ 
	transform: scale(1.5);
-webkit-transform: scale(1.5); 
-moz-transform: scale(1.5); 
-o-transform: scale(1.5);
-ms-transform: scale(1.5);
cursor: pointer; 
}
.box_content .item {
    position: relative;
    margin: 10px 0;
}
.box_content .image{
	width: 100%;
    /*height: 175px !important;*/
    overflow: hidden; 
    position: relative;
}
.box_content .image img{
	width: 100%;
      height: 100%;
      
      transition-duration: 0.5s;
      /* Safari */
      -webkit-transition-duration: 0.5s;
      /* Mozilla Firefox */
      -moz-transition-duration: 0.5s;
      /* Opera */
      -o-transition-duration: 0.5s;
      /* IE 9 */
      -ms-transition-duration: 0.5s;
}
.item:hover .image{
	 background: rgba(108, 47, 95, 0.3);
  opacity: .5;
}
.item:hover .view {
  opacity: 1; }
  .item:hover .view .fas {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%); 
    -moz-transform: translate(-50%, -50%); 
    -o-transform: translate(-50%, -50%);
     -ms-transform: translate(-50%, -50%);  
    height: 34px;
    color: #fff;
    padding: 10px;
    background: #2b91ff;
    opacity: 1; }
    .box_newsHome .box_defaultNew .box_content .item p {
    font-size: 16px;
    font-weight: 400;
}
.list-item .image , .list-item .view{
display: none;
}
.list-item .title:before{
	position: absolute;
    content: "";
    width: 8px;
    height: 8px;
    background: #ccc;
    left: 0;
    top: 8px;
    border-radius: 50%;

}
.list-item .title a{
	margin-left: 20px;
}
.box_content.box_content-right .info .title{
    font-size: 14px;
    color: #333;
    font-family: Roboto;
    margin: 0;
    line-height: 16px;
}
.box_content.box_content-right .info .title a{
    color: #333;
}
.box_content.box_content-right .image .view{
    display: none;
}
.box_form {
    padding: 50px 0;
    background: url(../images/form_bg.jpg) no-repeat center top;
}
.section-title {
    font-size: 32px;
    text-transform: uppercase;
    margin-bottom: 15px;
    padding-top: 25px;
    position: relative;
    color: #171051;
    font-family: "SVN-NexaBlack";
    text-align: left;
    margin-bottom: 30px;
}
.section-title:before {
    position: absolute;
    content: "";
    width: 100px;
    height: 3px;
    background: #00b6f2;
    top: 0;
}
.box_form .section-content {
    background: #fff;
    display: flow-root;
    padding: 40px;
}
.section-content .form-group input{
	font-family: "Roboto";
    font-weight: 400;
    border-radius: 0;
    border: 0;
    background: #ebedf4 !important;
    color: #111 !important;
    height: 45px;
    padding: 0 15px;
    font-size: 17px;
}
.box_form .section-content form .hotline {
    line-height: 45px;
    color: #171051;
    font-size: 20px;
    font-family: "SVN-NexaHeavy";
}
.box_form .section-content form .hotline a {
    color: #171051;
}
.box_form .section-content form .btn-register input {
    background: -webkit-linear-gradient(left, #00c4ff 0%,rgba(0,118,255,1) 100%) !important;
    color: #fff !important;
    font-size: 16px;
    font-family: "SVN-NexaHeavy";
    padding: 15px 0px;
    border: none;
    width: 100%;
    text-transform: uppercase;
}
.section-content .wpcf7-validation-errors{
	display: none !important;
	border: none;
}
.section-content .wpcf7-mail-sent-ng{
	border: none;
}
.section-content .wpcf7-response-output {
     margin: 0px; 
     padding: 0px; 
    border: none;

}
.box_form .section-content .form_info .title {
    font-size: 30px;
    font-family: "SVN-NexaBlack";
    color: #171051;
    text-transform: uppercase;
    margin-top: 0px;
}
.box_form .section-content .form_info .text_info {
    color: #171051;
    font-family: "SVN-NexaBold";
    font-size: 18px;
    padding-top: 10px;
}
.item-footer .item-footer-content p, .item-footer .item-footer-content p a {
    color: #171051;
    font-family: roboto;
}
.item-footer .item-footer-title {
    color: #171051;
    margin: 0 0 15px;
}
.item-col {
    margin: 10px 0;
}
.item-footer .item-footer-content ul{
padding-left: 0px;
list-style: none;
}
.item-footer .item-footer-content ul li a{
	color: #333;
	font-size: 16px;
}
.item-footer .item-footer-content ul li{
	margin-top: 5px;
}
.item-footer .item-footer-content ul li a:hover{
	color: #f88c0e;

}
.item-footer .image {
    padding: 10px 0;
}
 .search-field:focus, .search-submit:focus{
	outline: none;
}
.header-footer-group.fixed{
     width: 100%; position: fixed; top: 0; left: 0; z-index: 7000; box-shadow: 0 0 5px 2px #ccc;
}
.box_title{
    margin-top: 0px;
}
 .box_title a{
    color: #333;
}
@keyframes animborder {
    0% {
        left: 0px;
    }

    50% {
        left: 80%;
       
    }

    100% {
         left: 100%;
    }
}

@-moz-keyframes animborder {
    0% {
        left: 0px;
    }

    50% {
        left: 80%;
        
    }

    100% {
         left: 100%;
    }
}

@-webkit-keyframes animborder {
    0% {
        left: 0px;
    }

    50% {
        left: 80%;
       
    }

    100% {
         left: 100%;
    }
}

@-o-keyframes animborder {
    0% {
        left: 0px;
    }

    50% {
        left: 80%;
    }

    100% {
       left: 100%;
    }
}
.animate-border {
    position: relative;
    display: inline-block;
    width: 120px;
    height: 4px;
    background: #171051;
    overflow: hidden;
    margin-bottom: 15px;
}
.animate-border:after {
    position: absolute;
    content: "";
    width: 35px;
    height: 4px;
    left: -35px;
    bottom: 0;
    border-left: 10px solid #f88c0e;
    border-right: 10px solid #f88c0e;
    -webkit-animation: animborder 2s linear infinite;
    animation: animborder 2s linear infinite;
}
.list-chuyengia .info{
       min-height: 165px; 
}
.list-chuyengia .info .title{
    padding: 10px 0;
    font-weight: 500;
    line-height: 25px;
    margin: 0px;

        font-size: 20px;
}
.list-chuyengia .info .title a{

    font-family: "SVN-NexaHeavy";
    color: #171051;
}
.list-chuyengia .info .title a:hover{
    color: #00a3de;
}
.list-chuyengia .box_content .item:hover .view .fas{
display: none;
}

 
.list-chuyengia .info.info-r .title {
font-size: 14px;
padding: 0px;
min-height: 80px;
font-family: Roboto;
font-weight: 400;
}
.list-chuyengia .info.info-r{
    min-height: inherit;
}
.list-chuyengia .info.info-r .title a{
    color: #333;
}
.category-post{
    margin-bottom: 0px;
}
.category-post span, .category-post a {
    color: #a1a1a1;
    font-size: 13px;}
    .txt-uppercase{
          text-transform: uppercase;
    }
  
.p-0-5{
    padding: 0px 5px;
}
#crumbs{
    margin: 20px 0px 20px;
}
#crumbs , #crumbs a{
    color: #b7b7b7;
    text-transform: uppercase;
}
#crumbs span{
color: #333;
}
.entry-title.heading-size-1{
    text-align: center;
}
.content-post .entry-header .entry-title{
    font-size: 40px;
    padding-bottom: 10px;
    border-bottom: #ccc thin solid;
    margin-top: 10px;
    font-family: "SVN-NexaBlack";
    color: #171051;
    text-transform: uppercase;
}
 .created_by .avatar {
    width: 52px;
    background-color: #0f2a51;
    border-radius: 8px;
    overflow: hidden;
    float: left;
    margin-right: 17px;
}
.created_by{
    padding-bottom: 10px;
    border-bottom: #ccc thin solid;
    margin-bottom: 10px;
    display: flex;
}
.created_by .info-create{
    margin: 10px 0px;
}
.created_by .info-create .time,.created_by .info-create .user {
    font-size: 12px;
    color: #707070;
}
.created_by .info-create .user span {
    font-weight: 700;
    color: #4267b2;
}
.content-post .entry-content p img{
    height: 450px;
    width: 600px;
    margin: auto;
}