.box_top .contact {
  border-bottom: 1px solid #e1e1e1; }
  .box_top .contact .traditional {
    padding: 6px 0px; }
    .box_top .contact .traditional .email, .box_top .contact .traditional .hotline {
      color: #4c607d;
      font-family: "SVN-NexaBold";
      display: inline-block;
      font-size: 12px;
      margin-right: 35px;
      font-weight: 500;
      text-decoration: none; }
  .box_top .contact .social {
    text-align: right; }
    .box_top .contact .social a {
      color: #4c607d;
      display: inline-block;
      width: 32px;
      height: 32px;
      border-right: 1px solid #e1e1e1;
      text-align: center;
      font-size: 13px;
      padding: 5px 0px; }
      .box_top .contact .social a:first-child {
        border-left: 1px solid #e1e1e1; }

.main {
  padding: 15px 0px 20px; }
  .main .logo {
    padding-top: 18px; }
  .main .slogan {
    padding-top: 30px; }
    .main .slogan img {
      height: 50px;
      width: 100%; }
  .main .search {
    padding-top: 30px; }
    .main .search .input-group-addon {
      background: #fff;
      border-radius: 0px;
      padding: 6px 8px; }
      .main .search .input-group-addon button {
        background-color: #fff;
        color: #ccc;
        border: none; }

.link-live {
  position: absolute;
  bottom: 40px;
  width: 50%;
  text-align: center; }
  .link-live a {
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 50px;
    color: #fff;
    font-weight: 600;
    font-family: "SVN-NexaHeavy";
    text-decoration: none;
    margin: 0 15px; }
    .link-live a:hover, .link-live a:focus {
      color: #fff; }
  .link-live .btn-fb {
    background: #3982f6;
    -webkit-animation: glowing 1500ms infinite;
    -moz-animation: glowing 1500ms infinite;
    -o-animation: glowing 1500ms infinite;
    animation: glowing 1500ms infinite; }
  .link-live .btn-youtobe {
    background: #ff0726 !important; }

.box_menuTop {
  left: 56%;
  position: absolute;
  bottom: 82px;
  width: 50%; }
  .box_menuTop ul {
    list-style: none;
    margin: 0px; }
    .box_menuTop ul li {
      width: 50%;
      padding: 10px 15px;
      background: #2b91ff;
      margin: 5px auto; }
      .box_menuTop ul li a {
        color: #fff;
        font-size: 14px;
        display: block;
        font-weight: 500;
        font-family: "SVN-NexaBold"; }
        .box_menuTop ul li a:hover {
          color: #d28d3a; }
        .box_menuTop ul li a .arrow {
          background: #2b91ff;
          padding: 0px 4px;
          float: right; }

.box-headline {
  padding: 18px 0px; }
  .box-headline marquee img {
    height: 40px; }

.header-footer-group .menu-item a {
  padding: 8px 10px;
  display: block;
  background: #fff;
  font-family: "SVN-NexaBold";
  text-transform: uppercase;
  border-right: 1px solid #e1e1e1;
  font-size: 12px;
  color: #2b91ff !important; }
  .header-footer-group .menu-item a:hover, .header-footer-group .menu-item a:focus {
    color: #fff !important;
    background: #2b91ff;
    text-decoration: none; }

.list-post {
  padding-bottom: 40px; }
  .list-post .post-inner, .list-post .entry-content, .list-post .post-meta-edit-link-wrapper, .list-post .wp-caption-text {
    display: none; }
  .list-post .post {
    margin-bottom: 30px;
    position: relative; }
    .list-post .post .featured-media {
      width: 100%;
      height: 240px;
      overflow: hidden; }
      .list-post .post .featured-media img {
        width: 100%;
        height: 100%;
        transition-duration: 0.5s;
        /* Safari */
        -webkit-transition-duration: 0.5s;
        /* Mozilla Firefox */
        -moz-transition-duration: 0.5s;
        /* Opera */
        -o-transition-duration: 0.5s;
        /* IE 9 */
        -ms-transition-duration: 0.5s; }
    .list-post .post .entry-header .entry-title {
      margin-top: 10px;
      font-size: 18px;
      font-family: "SVN-NexaHeavy"; }
      .list-post .post .entry-header .entry-title a {
        color: #171051; }
    .list-post .post:hover {
      cursor: pointer; }
      .list-post .post:hover .featured-media {
        background: rgba(108, 47, 95, 0.3);
        opacity: .5; }
      .list-post .post:hover .icon-view {
        opacity: 1; }
        .list-post .post:hover .icon-view .fas {
          Position: absolute;
          top: 40%;
          left: 46%;
          height: 34px;
          color: #fff;
          padding: 10px;
          background: #2b91ff;
          opacity: 1; }
      .list-post .post:hover img {
        transform: scale(1.3);
        -webkit-transform: scale(1.3);
        -moz-transform: scale(1.3);
        -o-transform: scale(1.3);
        -ms-transform: scale(1.3);
        cursor: pointer; }

.box_highlightHome .content {
  padding: 30px 0 60px;
  border-top: 2px solid #ccc; }
  .box_highlightHome .content .block-hot .section-title {
    font-size: 38px;
    font-family: "SVN-NexaBlack";
    color: #171051;
    text-transform: uppercase;
    position: relative;
    padding-top: 25px; }
    .box_highlightHome .content .block-hot .section-title a {
      color: #171051; }
    .box_highlightHome .content .block-hot .section-title:before {
      position: absolute;
      content: "";
      width: 100px;
      height: 3px;
      background: #00b6f2;
      top: 0;
      left: 0;
      margin: 0; }

/*# sourceMappingURL=custom_scss.css.map */
