$right: right;
$border: 1px solid #e1e1e1;
$fs-14: 14px;
$w-100: 100%;
$p-30: 30px;
$color-white: #fff;


.box_top .contact{
	border-bottom: $border;
.traditional{
	padding: 6px 0px;
	.email ,.hotline{
	color: #4c607d;
	font-family: "SVN-NexaBold";
	display: inline-block;
	font-size: 12px;
	margin-right: 35px;
	font-weight: 500;
	text-decoration: none;
}
}
.social
{ 
text-align: $right;
a {
color: #4c607d;
display: inline-block;
width: 32px;
height: 32px;
border-right: $border;
text-align: center;
font-size: 13px;
padding: 5px 0px;
&:first-child{
border-left: $border;
}
}
}
}
.main{
padding: 15px 0px 20px;
.logo {
padding-top: 18px;
}
.slogan{
padding-top: $p-30;
img{
height: 50px;
width: $w-100;
}

}
.search{
padding-top: $p-30;
.input-group-addon{
background: $color-white;
border-radius: 0px;
padding: 6px 8px;
button{
background-color: $color-white;
color: #ccc;
border:none;
}
}
}
}

.link-live{
position: absolute;
bottom: 40px;
width: 50%;
text-align: center;
a{
padding: 10px 20px;
    font-size: 16px;
    border-radius: 50px;
    color: $color-white;
    font-weight: 600;
    font-family: "SVN-NexaHeavy";
    text-decoration: none;
    margin: 0 15px;
&:hover, &:focus {
color: $color-white;
}
}
.btn-fb {
	background: #3982f6;
	-webkit-animation: glowing 1500ms infinite;
	-moz-animation: glowing 1500ms infinite;
	-o-animation: glowing 1500ms infinite;
	animation: glowing 1500ms infinite;
}
.btn-youtobe{
	background: #ff0726 !important;
}
}
.box_menuTop{
left: 56%;
position: absolute;
bottom: 82px;
width: 50%;
ul{
list-style: none;
margin: 0px;
li{
width: 50%;
padding: 10px 15px;
background: #2b91ff;
margin: 5px auto;
a {
color: #fff;
font-size: 14px;
display: block;
font-weight: 500;
font-family: "SVN-NexaBold";
&:hover{
color: rgb(210, 141, 58);
}
.arrow{
	background: #2b91ff;
	padding: 0px 4px;
	float: right
}
}
}
}
}
.box-headline{
	padding: 18px 0px;
marquee{
 img{
	height: 40px;
}
}
}
.header-footer-group {
.menu-item{ 
a{
padding: 8px 10px;
display: block;
background: #fff;
font-family: "SVN-NexaBold";
text-transform: uppercase;
border-right: $border;
font-size: 12px;
color: #2b91ff !important;
&:hover,&:focus{
color: #fff !important;
background: #2b91ff;
text-decoration: none
}
}
}
}

.list-post{
padding-bottom: 40px;
.post-inner , .entry-content,.post-meta-edit-link-wrapper, .wp-caption-text {
display: none;
}
.post{
margin-bottom: $p-30;
position: relative;
.featured-media{
width:$w-100;
height: 240px;
overflow: hidden; 
img{
width: 100%;
height: 100%;
transition-duration: 0.5s;
/* Safari */
-webkit-transition-duration: 0.5s; 
/* Mozilla Firefox */
-moz-transition-duration: 0.5s; 
/* Opera */
-o-transition-duration: 0.5s;
/* IE 9 */
-ms-transition-duration: 0.5s;
}
}
.entry-header 
{
	.entry-title{
	margin-top: 10px;
	font-size: 18px;
	font-family: "SVN-NexaHeavy";
	 a{
	color: #171051;   
}

}
}
&:hover {
cursor: pointer;
.featured-media{
	background: rgba(108,47,95,0.3);
	opacity: .5; 
}
.icon-view{
	opacity: 1;
.fas{
	Position: absolute;
top: 40%;
left: 46%;
height: 34px;
	color: #fff;
	padding: 10px;
	background: #2b91ff;
	opacity: 1;
}
}
img{
transform: scale(1.3);
-webkit-transform: scale(1.3); 
-moz-transform: scale(1.3); 
-o-transform: scale(1.3);
-ms-transform: scale(1.3);
cursor: pointer; 
}
}
}
}

.box_highlightHome
{
	 .content {
    padding: 30px 0 60px;
    border-top: 2px solid #ccc;
    .block-hot{
     .section-title {
    font-size: 38px;
    font-family: "SVN-NexaBlack";
    color: #171051;
    text-transform: uppercase;
    position: relative;
        padding-top: 25px;
        a {
    color: #171051;
}
        &:before{
	position: absolute;
    content: "";
    width: 100px;
    height: 3px;
    background: #00b6f2;
    top: 0;
    left: 0;
    margin: 0;

}

}
}
}
}
