@font-face {
	font-family: 'SVN-NexaHeavy';
	src:url('SVN-NexaHeavy.eot');
	src:url('SVN-NexaHeavy.eot?#iefix') format('embedded-opentype'),  
		url('SVN-NexaHeavy.woff') format('woff'), 
		url('SVN-NexaHeavy.woff2') format('woff2'), 
		url('SVN-NexaHeavy.ttf')  format('truetype'), 
		url('SVN-NexaHeavy.svg#SVN-NexaHeavy') format('svg');
}

@font-face {
	font-family: 'SVN-NexaBold';
	src:url('SVN-NexaBold.eot');
	src:url('SVN-NexaBold.eot?#iefix') format('embedded-opentype'),  
		url('SVN-NexaBold.woff') format('woff'), 
		url('SVN-NexaBold.woff2') format('woff2'), 
		url('SVN-NexaBold.ttf')  format('truetype'), 
		url('SVN-NexaBold.svg#SVN-NexaBold') format('svg');
}

@font-face {
	font-family: 'SVN-NexaBlack';
	src:url('SVN-NexaBlack.eot');
	src:url('SVN-NexaBlack.eot?#iefix') format('embedded-opentype'),  
		url('SVN-NexaBlack.woff') format('woff'), 
		url('SVN-NexaBlack.woff2') format('woff2'), 
		url('SVN-NexaBlack.ttf')  format('truetype'), 
		url('SVN-NexaBlack.svg#SVN-NexaBlack') format('svg');
}

@font-face {
	font-family: 'SVN-NexaBook';
	src:url('SVN-NexaBook.eot');
	src:url('SVN-NexaBook.eot?#iefix') format('embedded-opentype'),  
		url('SVN-NexaBook.woff') format('woff'), 
		url('SVN-NexaBook.woff2') format('woff2'), 
		url('SVN-NexaBook.ttf')  format('truetype'), 
		url('SVN-NexaBook.svg#SVN-NexaBook') format('svg');
}
